# --- Пакеты и сборки
/vendor/
/node_modules/
/public/build
/public/hot
/public/storage
/bootstrap/ssr

# --- Laravel 4
/bootstrap/compiled.php
/app/storage/

# --- Laravel 5 & Lumen (альтернативный public path)
public_html/storage
public_html/hot

# --- Конфиденциальные и средовые файлы
.env
.env.backup
.env.production
auth.json
.phpactor.json

# --- Storage и служебные артефакты
/storage/*.key
/storage/pail

# --- Инструменты разработки / локальные окружения
Homestead.yaml
Homestead.json
/.vagrant

# --- PHPUnit и кеши
/.phpunit.result.cache
/.phpunit.cache
/npm-debug.log
/yarn-error.log

# --- IDE/Editor
/.fleet
/.idea
/.nova
/.vscode
/.zed
